@media (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }   
    
    #apresentacao { 
        background: #121212;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    a.botao {
        width: 85%;
    }

    .logo {
        margin-right: 310px;     
    }

    .textos {
        margin: 0;
        margin-top: 20px;
        word-spacing: 1px;
        margin-bottom: 0px;
        line-height: 50px;
    }

    #nomepedro {
        margin: 0;
        font-size: 40px;
        }

    #pedro {
       display: none;
    }

    div.container-sobre {
        background-color: #151515;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        padding-bottom: 110px;
    }
    
    div.texto-sobre {
        background-color: #151515;
        margin-top: 130px;
        color: rgba(255, 255, 255, 0.699);
        width: 100%;
        margin-left: 120px;
        margin-right: 20px;
    }
    
    img#sobre-foto {
        margin-top: 130px;
        width: 100%;
        min-width: 230px;
        max-width: 320px;
        margin-left: 200px;
        box-sizing: border-box;
        background-color: #202020bd;
        border-left-color: var(--primary);
        border-left-style: outset;
        border-left-width: 5px;
        opacity: 75%;
        margin-bottom: 90px;
        z-index: 0;
    }

    #texto {
        font-size: 15px;
        margin-bottom: 5px;
        width: 100%;
        line-height: 28px;
    }

    #principal {
        text-align: start;
        font-size: 25px;
    }

    .btn-15 {
        width: 146px;
        z-index: 0;
    }

    .container-habilidades {
      margin: 0 auto;
      display: flex;
      padding-bottom: 500px;
    }

    .habilidades {
      margin: 0;  
      margin-top: 520px;
      margin-left: 20px;
      position: absolute;
    }

    #mudar {
        max-width: 200px;
        margin: 0;
        font-size: 20px;
    }

    .img-juntas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 23px;
    }

    .img-1 {
        margin-right: 30px;
        opacity: 90%;
        height: 100px;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        padding-bottom: 35px;
    }

    .cards2 {
        margin-top: 65px;
    }

    #android {
        width: 286px;
        height: 165px;
    }

    #tlou {
        width: 286px;
        height: 165px;
    }

    section p {
        width: 100%;
    }

    section span {
        width: 100%;
    }

    #emailimg {
        width: 15px;
    }

    .textocontato {
        font-size: 17px;
        line-height: 19px;
        width: 150%;
    }

    #email {
        margin-left: 22px;
        margin-top: -5px;
        font-size: 15px;
    }

    .mb-3, .my-3 {
        margin-bottom: -30rem!important;
        margin-top: -4.5rem;
    }

    .social-overlap {
        width: 100%;
    }

    .contato {
        padding-top: 30px;
    }

    .textocontato {
        line-height: 23px;
        width: 220%;
    }

    .fim {
        line-height: 30px;
        background-color: #111111;
        margin-top: -3rem;
    }

    #mencoes {
        margin-left: 8px;
        line-height: 6px;
        font-size: 10px;
        margin-top: 10px;
    }

    #aviso {
        margin-top: 4px;
        font-size: 12px;
    }

    .process-scetion .slider-nav-item {
        width: 45px;
    }
    
    }



@media (max-width:952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    img#sobre-foto {
        width: 50px;
    }
}

@media (max-width: 880px) {
    #apresentacao { 
        background: #121212;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .textos {
        margin: 0;
        margin-top: 20px;
        word-spacing: 1px;
        margin-bottom: 0px;
        line-height: 50px;
    }

    #nomepedro {
        margin: 0;
        font-size: 40px;
        }

    #pedro {
       display: none;
    }

    img#sobre-foto {
    width: 73%;
    max-width: 400px;
    height: 300px;
    position: absolute;
    margin: 60px 20% 20% 0;
    }

    div.container-sobre {
       display: flex;
       flex-direction: row-reverse;
    }

    div.texto-sobre {
        margin: 0 auto;
        margin-top: 410px;
        width: 350px;
        line-height: 27px;
    }

    #principal {
        text-align: center;
    }

}

@media (max-width: 688px){

    .arrows {
        position: relative;
    }

    #apresentacao { 
        background: #121212;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        font-size: 16px;
    }

    #linkedin {
        width: 20px;
    }

    .logo {
        margin-right: 310px;   
    }

    img#sobre-foto {
        height: 266px;
    }

    .textos {
        margin: 0;
        margin-top: 20px;
        word-spacing: 1px;
        margin-bottom: 0px;
        line-height: 50px;
    }

    a.botao {
        width: 80%;
    }

    #nomepedro {
        margin: 0;
        font-size: 33px;
        }

    #pedro {
       display: none;
    }

    .principal {
        padding: 0px;
        padding-top: 10px;
    }

    div.container-sobre {
       display: flex;
       flex-direction: row-reverse;
       padding: 5%;
    }

    div.texto-sobre {
        margin-top: 335px;
        width: 380px;
        line-height: 27px;
        padding: 30px;
    }

    #texto {
        font-size: 15px;
        margin-bottom: 5px;
        width: 100%;
        line-height: 28px;
    }

    #principal {
        text-align: start;
        font-size: 25px;
    }

    .btn-15 {
        width: 146px;
        z-index: 0;
    }

    .container-habilidades {
      margin: 0 auto;
      display: flex;
      padding-bottom: 500px;
    }

    .habilidades {
      margin: 0;  
      margin-top: 520px;
      margin-left: 20px;
      position: absolute;
    }

    #mudar {
        max-width: 200px;
        margin: 0;
        font-size: 20px;
    }

    .img-juntas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 23px;
    }

    .img-1 {
        margin-right: 30px;
        opacity: 90%;
        height: 100px;
    }

    .projetos {
        display: flex;
        flex-direction: column;
        padding-bottom: 35px;
    }

    .cards2 {
        margin-top: 65px;
    }

    #android {
        width: 286px;
        height: 165px;
    }

    #tlou {
        width: 286px;
        height: 165px;
    }

    #netflix {
        width: 286px;
        height: 165px;
    }

    #login {
        width: 286px;
        height: 165px;
    }

    #landingpage {
        width: 286px;
        height: 165px;
    }

    section p {
        width: 100%;
    }

    section span {
        width: 100%;
    }

    #emailimg {
        width: 15px;
    }

    .textocontato {
        font-size: 17px;
        line-height: 19px;
        width: 150%;
    }

    #email {
        margin-left: 22px;
        margin-top: -5px;
        font-size: 15px;
    }

    .mb-3, .my-3 {
        margin-bottom: -30rem!important;
        margin-top: -4.5rem;
    }

    .social-overlap {
        width: 100%;
    }

    .contato {
        padding-top: 30px;
    }

    .textocontato {
        line-height: 23px;
        width: 220%;
    }

    .fim {
        line-height: 30px;
        background-color: #111111;
        margin-top: -3rem;
    }

    #mencoes {
        margin-left: 8px;
        line-height: 6px;
        font-size: 10px;
        margin-top: 10px;
    }

    #aviso {
        margin-top: 4px;
        font-size: 12px;
    }

    .process-scetion .slider-nav-item {
        width: 45px;
    }

    body {
        overflow-x: hidden;
    }

    @media only screen and (max-width: 300px) {
        .process-scetion .slider-nav-item
        {
          height: 30px;
          width: 5px;
          margin: 15px 10px;
          line-height: 28px;
        }
      }   
}